@import '_reset.css';

body {
	background-color: #fafafa;
}

.container {
	max-width: 1440px;
	padding: 0 100px;
	margin: 0 auto;
}

.header__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 60px;
	padding: 20px 0;
	border-bottom: 1px solid #ebebf1;
}

.header__search-panel {
	width: 835px;
	height: 40px;
	border: 1px solid #ebebf1;
	border-radius: 5px;
	display: flex;
	align-items: center;
	gap: 9px;
	padding-left: 14px;
	box-shadow: 8px 10px 5px 2px #ebebf1;
}

input::placeholder {
	color: #bbc4d6;
	font-size: 14px;
}

.header__profile {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 10px;
	padding-left: 19px;
	border-left: 1px solid #ebebf1;
}

.header__profile-name {
	color: #768298;
	font-size: 14px;
}

.main__title-h1 {
	text-transform: uppercase;
	color: #000;
	font-size: 36px;
	padding-top: 70px;
}

.partners__list {
	padding-top: 30px;
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	gap: 30px;
}

.partners__item {
	max-width: 287.5px;
	padding: 28px 27px;
	border: 1px solid #ebebf1;
	border-radius: 5px;
}

.partners__item:hover {
	transition: all 0.3s ease;
	background-color: #fff;
	opacity: 1;
	box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.5);
	transform: translateY(-5px);
	cursor: pointer;
}

@media (max-width: 768px) {
	.container {
		max-width: 768px;
		padding: 0 20px;
		margin: 0 auto;
	}
	.header__content {
		column-gap: 49px;
	}
	.main__title-h1 {
		font-size: 28px;
	}
	.partners__list {
		gap: 20px;
	}
	.partners__item {
		max-width: 229px;
	}
}

@media (max-width: 375px) {
	.container {
		max-width: 375px;
		padding: 0 20px;
		margin: 0 auto;
	}

	.header__content {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	.header__profile {
		display: none;
	}

	.main__title-h1 {
		font-size: 28px;
	}
	.header__search-panel {
		margin-top: 20px;
	}
}
